<div class="row">

  <p>
    inicio works!
  </p>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">Content</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">Content</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">Content</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">Content</p>
      </div>
    </div>
  </div>

</div>
