<app-titulo-pagina titulo="Peritos" icone="search"></app-titulo-pagina>

<div class="row">

    <div class="col">
        <div class="card border-0 rounded-5 shadow-sm">
            <div class="card-body">

                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>CPF</th>
                                <th>Conselho</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let perito of peritos">
                                <td>2017-09-29 01:22</td>
                                <td>200398</td>
                                <td>iPhone X 64Gb Grey</td>
                                <td style="width: 100px;">
                                    <a class="mx-1" title="Detalhar">
                                        <i class="ft-eye fs-5 text-info"></i>
                                    </a>
                                    <a class="mx-3" [routerLink]="[]" title="Editar">
                                        <i class="ft-edit fs-5 text-warning"></i>
                                    </a>
                                    <a class="mx-1" title="Excluir">
                                        <i class="ft-trash-2 fs-5 text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <!--
                <div class="table-responsive">
                    <table class="table table-borderless table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>CPF</th>
                                <th>Conselho</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Fulano</td>
                                <td>Fulano</td>
                                <td>Fulano</td>
                                <td>Fulano</td>
                            </tr>
                            <tr>
                                <td>Fulano</td>
                                <td>Fulano</td>
                                <td>Fulano</td>
                                <td>Fulano</td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->


        </div>
    </div>
</div>